<section id="form">
    <h3>Crie um projeto :)</h3>
        {{#each erros}}
        <div class="erros">
            <p><strong>{{texto}}</strong></p>
        </div>
    {{else}}
    {{/each}}   
    <div class="form-container">
        <div class="card-form">
            <form action="/projetos/add" method="POST">
                    <input type="text" name="nome" placeholder="Digite o nome do projeto." ><br>
                    <textarea name="descricao" id="" cols="30" rows="10" placeholder="Digite observaçoes a fazer." ></textarea><br>
                    <div class="servece-container">
                        <div class="servece">
                            <label for=""><strong>Logomarca:</strong></label><br>
                            <div class="onOff" onclick="serveceOne()">
                                <p>Adicionar um  valor</p>
                            </div>
                            <input type="number" name="logoMarca" id="serveceOne" value="0"><br>

                            <label for=""><strong>Mídias sociais:</strong></label><br>
                            <div class="onOff" onclick="serveceTwo()">
                                <p>Adicionar um  valor</p>
                            </div>
                            <input type="number" name="midiasSociais" id="serveceTwo" value="0"><br>
                        </div>
                        <div class="servece">
                            <label for=""><strong>Cartão de visita:</strong></label><br>
                            <div class="onOff" onclick="serveceThree()">
                                <p>Adicionar um  valor</p>
                            </div>
                            <input type="number" name="cartaoDeVisita" id="serveceThree" value="0"><br>

                            <label for=""><strong>Planfetos:</strong></label><br>
                            <div class="onOff" onclick="serveceFour()">
                                <p>Adicionar um  valor</p>
                            </div>
                            <input type="number" name="panfletos" id="serveceFour" value="0"><br>
                        </div>
                        <div class="calcular" onclick="calcular()">
                            <p>calcular</p>
                        </div>
                        <div class="valorTotal">
                            <label for=""><strong>Valor total:</strong></label>
                            <div>

                            <input type="number" name="valorTotal" id="valorTotal" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="radio">
                    <label for="pago"><strong>Pago:</strong></label><br>
                        <input type="radio" value="Sim" name="pago" >
                        <label for="">Sim</label>
                        <input type="radio" value="Não" name="pago" ><label for="">Não</label><br>
                    </div>
                    <label for=""><strong>Cliente:</strong></label><br><br>
                        <select name="cliente" id="">
                        {{#each cliente}}
                            <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                            <option value="0">Nenhum cliente registrado</option>
                        {{/each}}    
                        </select><br><br><br>
                        <div class="back-project">
                            <a href="/projetos">Voltar</a>    
                            <button class="button-margin" type="submit">Criar projeto</button>  
                        </div>
            </form>
        </div>
    </div>
</section>
<script>
    function serveceOne(){
        var onOff = document.getElementById("serveceOne")
        if (onOff.style.display === "none"){
            onOff.style.display = "block"
        }else{
            onOff.style.display = "none"
        }
    }
    function serveceTwo(){
        var onOff = document.getElementById("serveceTwo")
        if (onOff.style.display === "none"){
            onOff.style.display = "block"
        }else{
            onOff.style.display = "none"
        }
    }
    function serveceThree(){
        var onOff = document.getElementById("serveceThree")
        if (onOff.style.display === "none"){
            onOff.style.display = "block"
        }else{
            onOff.style.display = "none"
        }
    }
    function serveceFour(){
        var onOff = document.getElementById("serveceFour")
        if (onOff.style.display === "none"){
            onOff.style.display = "block"
        }else{
            onOff.style.display = "none"
        }
    }
    function calcular(){
        var logoMarca = document.getElementById('serveceOne')
        var midiasSociais = document.getElementById("serveceTwo")
        var cartaoDeVisita = document.getElementById("serveceThree")
        var panfletos = document.getElementById("serveceFour")

        var Total = Number(logoMarca.value) + Number(midiasSociais.value) + Number(cartaoDeVisita.value) + Number(panfletos.value)

        document.getElementById("valorTotal").value = Total
        console.log(Total)
        console.log(valorTotal)
    }
</script>